* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.section-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 900;
}

.section-text {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  width: 50%;
  margin: 10px auto;
}

header {
  background-color: rgba(229, 84, 115, 0.1);
}

.header-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-text {
  width: 50%;
  padding: 80px 0;
}

.header-title {
  color: #272727;
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
}

.header-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  width: 80%;
  margin: 20px 0;
}

.header-image {
  margin: 0;
  width: 50%;

  text-align: center;
  padding: 0 0 0 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* background-color: blueviolet; */
}

.header-image img {
  width: 70%;
}

.btn {
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
}

/*  feature section starts */

.feature-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
}

.feature-title {
  color: #272727;
  font-size: 40px;
  font-weight: 900;
}

.feature-text {
  color: rgba(39, 39, 39, 0.6);
  font-weight: 400;
  line-height: 25px;
  width: 50%;
  margin: 0 auto;
}

.feature-box-container {
  margin: 50px 0;
  display: flex;
  gap: 3%;
  align-items: flex-start;
}

.feature-box {
  height: 540px;
  width: 32%;
}

.featured-flower {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 80px 0 0 0;
  border-radius: 300px 300px 0 0;
  margin-bottom: 30px;
}

.featured-flower img {
  width: 80%;
}

.pink {
  background-color: rgba(167, 33, 98, 0.15);
  padding-top: 113px;
}

.blue {
  background-color: rgba(5, 151, 160, 0.15);
  padding: 135px 0 80px;
}

.green {
  background: rgba(71, 125, 17, 0.15);
}

.feature-flower-text {
  text-decoration: underline;
  color: #272727;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
}

/*  service section starts */

.service-container {
  text-align: center;
  width: 80%;
  background-color: rgba(39, 39, 39, 0.05);
  margin: 0 auto;
  display: flex;
  gap: 3%;
  justify-content: space-around;
  padding: 60px 0;
  margin-bottom: 80px;
}

.service-item {
  width: 30%;
}

.service-text {
  color: rgba(39, 39, 39, 0.8);
}

/*  sign up section */

.sign-up-container {
  text-align: center;
  background-color: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 50px;
}

.sign-up-text {
  text-align: center;
}

.off {
  color: #e55473;
}

.sign-up-desc {
  width: 80%;
  margin-bottom: 20px;
}

.sign-up-image {
  width: 70%;
}

.sign-up-image img {
  width: 50%;
}

/*  instagram section starts */

.insta-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

.insta-text {
  width: 60%;
}

.album {
  display: flex;
  gap: 3%;
  margin: 30px 0;
}

.album img {
  width: 22.5%;
}

/*   subscribe section start */

.sub-container {
  background-image: url("images/Rectangle 9.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
  margin-bottom: 50px;
}

.sub-text {
  margin-bottom: 30px;
}

input[type="email"] {
  padding: 23px 300px 23px 23px;
  border: none;
  margin-right: 10px;
}

/* footer section starts */

footer {
  background-color: #111010;
  text-align: center;
  padding: 50px 0;
  color: rgba(255, 255, 255, 0.9);
}

.footer-heading {
  color: #fff;
}

.footer-text {
  color: rgba(255, 255, 255, 0.9);
}

.copy-right {
  margin-top: 20px;
}
